<!-- Modal compartilhado "Ver quem votou" do Palpitrômetro -->
<div class="modal fade" id="modalVerVotos" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title fw-bold"><i class="bi bi-graph-up"></i> Quem votou em quem</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <p class="fw-bold small mb-2" id="modalVerVotosNome1"></p>
                        <div id="modalVerVotosLista1"></div>
                    </div>
                    <div class="col-6">
                        <p class="fw-bold small mb-2" id="modalVerVotosNome2"></p>
                        <div id="modalVerVotosLista2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
