@using Padelizou.ViewModels
@{
    ViewData["Title"] = "Jogos do Torneio";
    var torneio = ViewBag.Torneio as Torneio;
}

<div class="mb-4">
    <h2>🏆 @torneio.Nome - Partidas</h2>
</div>

<partial name="_JogosDoTorneio" model='("Jogos", torneio.Id)' />

<partial name="_ModalVerVotos" />
@section Scripts {
    <script src="~/js/cronometro-jogos.js" asp-append-version="true"></script>
    <script src="~/js/palpitrometro.js" asp-append-version="true"></script>
}
